@keyframes p1 {
    0% {
        transform: translate(-50%, -50%) ;
    }
    50% {
        transform: translate(-50% ,0);
    }
    100% {
        transform: translateX(0%);
    }

}

@keyframes p2 {
    0% {
        transform: translateY(-100%) rotate(0deg);
        border-radius: 50%;
    }
    100% {
        transform: translateY(0%) rotate(360deg);
        border-radius: 0%;
    }

}

@keyframes p3 {
    0% {
        transform: translate(50%, -50%);
    }
    50% {
        transform: translate(50%, 0);
    }
    100% {
        transform: translateX(0%);
    }

}

@keyframes p4 {
    0% {
        transform: translate(-50%, 50%);
    }
    50% {
        transform: translate(-50%, 0);
    }
    100% {
        transform: translateY(0%);
    }

}

@keyframes p5 {
    0% {
        transform: translate(50%, 50%);
    }
    50% {
        transform: translate(50% ,0);
    }
    100% {
        transform: translateX(0%);
    }

}

@keyframes p6 {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }

}

.item:nth-of-type(1) { 
    animation: 3s 0s 1 p1;
}
.item:nth-of-type(2) { 
    animation: 3s 0s 1 p2;
}
.item:nth-of-type(3) { 
    animation: 3s 0s 1 p3;
}
.item:nth-of-type(4) { 
    animation: 3s 0s 1 p4;
}
.item:nth-of-type(7) { 
    animation: 3s 0s 1 p5;
} 
.item:nth-of-type(6) { 
    animation: 3s 0s 1 p6;
}