@font-face {
    font-family: 'Encode Sans Expanded';
    src: url('../fonts/EncodeSansExpanded-Regular.ttf');
}

@font-face {
    font-family: 'Righteous';
    src: url('../fonts/Righteous-Regular.ttf');
}