* {
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    float: left;
    background: url("../img/background_01.jpg");
    background-repeat: no-repeat;
}

.contenedor {
    width: 90%;
    height: 80%;
    position: relative;
    top: 10%;
    left: 5%;
}

.foto {
    width: 20%;
    height: 40%;
    background: url("../img/photo_01.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.nombre {
    width: 40%;
    height: 40%;
    background-color: #1c1d1f;
    color: #ffffff;
    left: 21%;
    border: 1px solid #ffffff;
}

.nombre h1 {
    font-family: 'Righteous', cursive;
    font-size: 300%;
    padding-top: 10%;
    padding-bottom: 5%;
}

.nombre h2 {
    font-family: 'Encode Sans Expanded', sans-serif;
}

.nombre h1, h2 {
    width: 100%;
    text-align: center;
    float: left;
}

.color_01 {
    color: #0ec0c4;
}

.color_02 {
    color: #cf2180;
}

.color_03 {
    color: #ad74c3;
}

.color_04 {
    color: #cccccc;
}

.color_05 {
    color: #00b2ff;
}

.color_06 {
    color: #304f85;
}

.font_01 {
    font-family: 'Righteous', cursive;
}

.descripcion {
    width: 38%;
    height: 59%;
    background-color: #333333;
    left: 62%;
    border: 1px solid #ffffff;
}

.descripcion h1 {
    font-family: 'Righteous', cursive;
    font-size: 200%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
    text-align: center;
    float: left;
    color: #ffffff;
}

.descripcion p {
    margin-top: 15%;
    margin-left: 8%;
    margin-right: 8%;
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size: 120%;
    color: #ffffff;
}

.informacion {
    width: 38%;
    height: 59%;
    background-color: #fff;
    top: 41%;
    border: 1px solid #ffffff;
    color: #1c1d1f;
    background-color: #333333;
}

.informacion h1 {
    font-family: 'Righteous', cursive;
    font-size: 200%;
    padding-top: 5%;
    padding-bottom: 1%;
    width: 100%;
    text-align: center;
    float: left;
    color: #ffffff;
}

.informacion div {
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size: 150%;
    font-size: 100%;
    margin-top: 2%;
    padding: 1%;
    width: 62%;
    margin-left: 18%; 
    margin-right: 18%; 
    float: left;
    background-color: #ffffff;
    color: #333333;
    border: 1px solid #cf2180;
    border-radius: 10px;
    font-weight: bold;
}

.informacion div span {
    zoom: 1.5;
    margin-right: 5%;
}

a {
    text-decoration: none;
    color: #1c1d1f;
}

.contacto {
    width: 40%;
    height: 40%;
    background-color: #1c1d1f;
    border: 1px solid #ffffff;
    top: 60%;
    left: 39%;
}

.contacto h1 {
    font-family: 'Righteous', cursive;
    font-size: 200%;
    padding-top: 5%;
    padding-bottom: 1%;
    width: 100%;
    text-align: center;
    float: left;
    color: #ffffff;
}

.contacto form .div_01, .div_02 {
    width: 50%;
    float: left;
    text-align: center;
    font-family: 'Encode Sans Expanded', sans-serif;
    color: #ffffff;
}

.contacto form input[type="text"], input[type="mail"] {
     padding: 1% 2%;
     border-radius: 10px;
     font-size: 100%;
     width: 80%;
     font-family: 'Encode Sans Expanded', sans-serif;
     color: #1c1d1f;
}

.contacto form input[type="text"]:focus, input[type="mail"]:focus, textarea:focus {
    background-color: #dddddd;
}

.contacto form textarea {
    width: 90%;
    height: 105px;
    border-radius: 10px;
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size: 100%;
}

.contacto form input[type="submit"] {
    width: 40%;
    padding: 1%;
    border-radius: 10px;
    font-family: 'Righteous', cursive;
    font-size: 100%;
    cursor: pointer;
    background-color: #cf2180;
    color: #ffffff;
    border-color: #ffffff;
}

.enlaces {
    width: 10%;
    height: 20%;
    background-color: #1c1d1f;
    top: 60%;
    left: 80%;
    padding: 5%;
    border: 1px solid ffffff;
}

.enlaces span {
    width: 50%;
    height: 50%;
    float: left;
    text-align: center;
    zoom: 3;
    margin-top:5%;
}

.foto, .nombre, .descripcion, .informacion, .contacto, .enlaces {
    position: absolute;
    border-radius: 10px;
}