:root {
    /*--COLORES--*/
    --color_01: #0ec0c4;
    --color_02: #cf2180;
    --color_03: #ad74c3;
    --color_04: #cccccc;
    --color_05: #00b2ff;
    --color_06: #304f85;
    --color_07: #002a3a;
    --color_08: #ffffff;

    /*--FUENTES--*/
    --font_01: 'Encode Sans Expanded', sans-serif;
    --font_02: 'Righteous', cursive;
}
* {
    padding: 0;
    margin: 0;
    font-family: --font_01;
}
.container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(8, 120px);
    grid-template-rows: repeat(5, 120px);
    justify-content: center;
    align-content: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--color_08);
}
.item {
    background-color: var(--color_07);
    color: var(--color_08);
}
/*--Nombre--*/
.item:nth-of-type(1) {
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
}
.item:nth-of-type(1) h1 {
    font-family: var(--font_02);
    font-size: 250%;
    text-align: center;
    padding: 10%;
}
.item:nth-of-type(1) h2 {
    font-family: var(--font_01);
    text-align: center;
    padding: 2%;
}
/*--Foto--*/
 .item:nth-of-type(2) {
    grid-column: 4 / span 2;
    grid-row: 1 / span 2;
    background: url("../img/photo_01.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
/*--Information--*/
.item:nth-of-type(3) {
    grid-column: 6 / span 3;
    grid-row: 1 / span 2;
}
.item:nth-of-type(3) h1 {
    font-family: var(--font_02);
    font-size: 250%;
    text-align: center;
    padding: 10% 0% 5% 0%;
}
.item:nth-of-type(3) p {
    font-family: var(--font_01);
    text-align: left;
    margin: 2% 10%;
    padding: 1% 2%;
    background-color: var(--color_08);
    color: var(--color_07);
    border-radius: 5px;
}
/*--Acerca--*/
.item:nth-of-type(4) {
    grid-column: 1 / span 3;
    grid-row: 3 / span 3;
}
.item:nth-of-type(4) h1 {
    font-family: var(--font_02);
    font-size: 250%;
    text-align: center;
    padding: 10%;
}
.item:nth-of-type(4) p {
    font-family: var(--font_01);
    text-align: justify;
    padding: 2% 10%;
}
.item:nth-of-type(5) {
    grid-column: 4 / span 2;
}
.subitem1:nth-of-type(1) {
    display: grid;
    grid-template-columns: 55px 55px;
    justify-content: center;
    align-content: center;
    height: 100%;
    grid-gap: 10px;
}
.item:nth-of-type(6) {
    grid-column: 4 / span 2;
    grid-row: 4 / span 2;
}
.subitem2:nth-of-type(1) {
    display: grid;
    grid-template-columns: 55px 55px;
    justify-content: center;
    align-content: center;
    height: 100%;
    grid-gap: 10px;
}
.sub:nth-of-type(1) {
    grid-column: 1;
    grid-row: 1;
}
.sub:nth-of-type(2) {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}
.sub:nth-of-type(3) {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}
.sub:nth-of-type(4) {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}
.item:nth-of-type(7) {
    grid-column: 6 / span 3;
    grid-row: 3 / span 3;
    text-align: center;
}
.item:nth-of-type(7) span {
    font-family: var(--font_01);
}
.item:nth-of-type(7) h1 {
    font-family: var(--font_02);
    font-size: 250%;
    text-align: center;
    padding: 10% 0% 5% 0%;
}
.item:nth-of-type(7) input[type="text"] {
    width: 60%;
    padding: 1% 2%;
    margin-bottom: 2%;
    border-radius: 5px;
    font-family: var(--font_01);
}
.item:nth-of-type(7) .comment {
    width: 60%;
    height: 60px;
    padding: 1% 2%;
    border-radius: 5px;
    font-family: var(--font_01);
}
.item:nth-of-type(7) input[type="submit"] {
    width: 30%;
    padding: 1% 2%;
    border-radius: 5px;
    font-size: 100%;
    font-family: var(--font_01);
}